{{ extend './../layout/TPMain.html' }}
{{block "style"}}
<link rel="stylesheet" href="/main/style/index.css">
{{/block}}

{{block "main"}}
<div class="banner">
    <div class="pic layui-carousel" id="bannerContent">
        <ul carousel-item="picItem">
            <li><img src="/main/images/banner/1.jfif"></li>
            <li><img src="/main/images/banner/2.jfif"></li>
            <li><img src="/main/images/banner/3.jfif"></li>
        </ul>
    </div>
</div>

{{/block}}

{{block "script"}}
<script>
    layui.use(['form', 'carousel'], function () {
        var carousel = layui.carousel,
            form = layui.form;
        //图片轮播
        carousel.render({
            elem: '#bannerContent',
            width: '100%',
            height: '460px',
            interval: 5000
        });
    })
</script>
{{/block}}